*.o
*.ko
*.mod
*.mod.c
*.cmd
Module.symvers
modules.order

tests/artifacts/
tests/livepatch/artifacts/
tests/livepatch/custom_lp/artifacts/
tests/livepatch/custom_lp/*.o
tests/livepatch/custom_lp/*.ko
tests/livepatch/custom_lp/*.mod
tests/livepatch/custom_lp/*.mod.c
tests/livepatch/custom_lp/*.cmd
tests/livepatch/custom_lp/Module.symvers
tests/livepatch/custom_lp/modules.order
tests/livepatch/custom_lp/.module-common.o
tests/livepatch/custom_lp/..module-common.o.cmd

tests/repro/images/
tests/repro/workdir/